@import '../../variables.scss';

.match-dashbboard {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__availability {
    width: 100%;
    height: 100%;
    background: pink;
  }

  &__date-time {

  }

  &__content {
    display: flex;
  }

  &__filters {
    flex: 2;
    margin: 16px 16px 0 0;
    background: blue;
  }

  &__matches {
    flex: 5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__match {
    width: 308px;
    background: yellow;
    margin: 16px 0;
    padding: 16px;

    &-avatar {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      align-content: center;
      margin: 0 auto;
      justify-content: center;
    }

    &-image {
      height: 100%;
    }

    &-filters {
      display: flex;
      flex-wrap: wrap;
      margin-top: 8px;
    }

    &-filter {
      padding: 4px;
      background: $black;
      color: $white;
      margin: 4px 8px 4px 0;
    }
  }
}
